<script setup lang="ts">

import {onMounted, Ref, ref} from 'vue'
import axios from "axios";
import {ElMessage} from "element-plus";


type Link = {
  href: string
  name: string
  detail?: string
  img?: string
  imgBg?: string
  imgSlot?: string
  clicks?: number
  favorite?: boolean
}

type Menu = {
  name?: string
  path?: string
  children?: Link[]
}

const data: Ref<Menu[]> = ref([])

const children: Ref<Link[]> = ref([])

onMounted(() => {
  axios.get("/data.json").then(response => {
    data.value = response.data;
  }).catch(error => {
    ElMessage.error(error)
  })
})

function selectMenu(links: Link[]) {
  children.value = links;
}

function selectFavorite() {
}


function goto(href: string) {
  let newWindow = open('about:blank');
  newWindow.location.href = href;
}

function home() {
  children.value = []
}
</script>

<template>
  <div class="my-layout common-layout">
    <el-container class="height100">
      <el-header>
        <el-menu
            mode="horizontal"
            :ellipsis="false"
            router
        >
          <el-menu-item index="0" route="/" @click="home">LOGO</el-menu-item>
          <div class="flex-grow"/>
        </el-menu>
      </el-header>
      <el-container class="height100">
        <el-aside width="200px">
          <el-row class="tac">
            <el-col :span="24">
              <el-menu
                  default-active=""
                  mode="vertical"
                  router
              >
                <el-menu-item index="favorite" @click="selectFavorite()" :route="{name:'favorite', path:'favorite'}"></el-menu-item>
                <el-menu-item :index="m.path" @click='selectMenu(m.children)' :route="{name:m.path, path:m.path}"
                              v-for="m in data">
                  <el-text>{{ m.name }}</el-text>
                </el-menu-item>
              </el-menu>
            </el-col>
          </el-row>
        </el-aside>
        <el-container>
          <el-main>
            <h1 v-if="children.length==0">收藏,常用网站功能开发中...</h1>
            <div class="card-container">
              <el-row class="elRow" :gutter="2">
                <el-col class="elCol" :span="6" v-for="item in children" :key="item.name">
                  <el-card class="elCard" :body-style="{ padding: '10px' }" @click=goto(item.href) shadow="hover">
                    <template #header>
                      <div class="card-header">
                        <span>{{ item.name }}</span>
                      </div>
                    </template>
                    <div>
                      <el-image :src="item.img" class="image">
                        <template #error>
                          <div class="image-slot">
                            {{ item.imgSlot }}
                          </div>
                        </template>
                      </el-image>
                      <div style="padding: 14px">
                        <span>{{ item.detail }}</span>
                      </div>
                    </div>
                  </el-card>
                </el-col>
              </el-row>
            </div>
          </el-main>
        </el-container>
      </el-container>
      <!-- 备案信息
      <el-container style="background-color: brown">
        <el-footer style="background-color: deeppink">Footer</el-footer>
      </el-container>
      -->
    </el-container>
  </div>
</template>

<style scoped>
.flex-grow {
  flex-grow: 1;
}

.my-layout {
  height: 100%;
  width: 100%;
  min-width: 800px;
  min-height: 600px;
  position: absolute;
}

.height100 {
  height: 100%;
}


.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.elRow {
  display: flex;
  justify-content: space-between;
}

.elCol {
  width: 120px; /* 定义每个卡片宽度 */
}

.elCard {
  width: 100%; /* 卡片宽度占满列宽 */
  margin-bottom: 20px; /* 每个卡片之间保留一些间距 */
  height: 250px;
  cursor: pointer;
  overflow: hidden;
}

.image {
  max-width: 110px;
  max-height: 120px;
  float: left;
  margin-right: 15px;
}
</style>
